ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
shamefully-hoist=true
strict-peer-dependencies=false
package-lock=true
virtual-store-dir-max-length=70 # https://github.com/electron-userland/electron-builder/issues/8346
